# User data
meka/Debug
meka/Music
meka/Saves
meka/Screenshots

# Developer data
meka/objs
meka/meka.dsk
meka/meka.fdb
meka/mekaw.cfg
meka/mekaw.exe
meka/mekaw.ilk
meka/smsid.exe
meka/smsid.ilk
meka/srcs/projects/msvc/Meka.ncb
allegro.log
*.opensdf
*.sdf
*.suo
*.vcproj.*.user
*.vcxproj.user
