# User data
meka/Debug
meka/Music
meka/Saves
meka/Screenshots

# Builds
meka/Dist

# Developer data
meka/objs
meka/meka
meka/meka.cfg
meka/meka.dsk
meka/meka.fdb
meka/meka
meka/mekaw.cfg
meka/mekaw.exe
meka/mekaw.ilk
meka/smsid.exe
meka/smsid.ilk
meka/srcs/obj
meka/srcs/projects/msvc/Meka.ncb
meka/srcs/projects/msvc/.vs
meka/srcs/projects/msvc/packages/
meka/libs/allegro
meka/libs/allegro_deps
allegro.log
*.opensdf
*.sdf
*.suo
*.ipch
.vs/
*.vc.db
*.user
.*.swp
*~
.*~
